<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BrowserStackAPIScreenshotsSection" type="BrowserStack.API.Screenshots.Configuration.BrowserStackAPIScreenshotsSection,BrowserStack.API.Screenshots" />
  </configSections>
  <BrowserStackAPIScreenshotsSection>
    <Authentication username="" password="" />
  </BrowserStackAPIScreenshotsSection>
</configuration>